---
import Layout from '@layouts/Layout.astro';
import Breadcrumb from '@components/Breadcrumb.astro';
import { SITE } from '@config';

const title = 'About';
const description = 'All the tags used in posts.';
---

<Layout title={title} description={description}>
	<Breadcrumb />
	<h1><strong>{title} {SITE.title}</strong></h1><!-- use ${SITE.author} to display the Author instead of the Blog Title -->
	<div class="link-underline-hover-container font-sans-serif-container">
		<p class="lead">Welcome to "The Great Debate Blog," the go-to place for all your software development debate needs.</p>
		<p>This blog features funny and entertaining stories told by ChatGPT on various topics in the field.</p>
		<p>Have you ever wondered what would happen if software developers had a heated argument over the Agile vs. Waterfall Development methodologies? Or what if they couldn't decide on whether automated testing was better than manual testing? The Great Debate Blog takes these debates and puts a humorous spin on them.</p>
		<p>Our aim is to bring some laughter into the tech world and give you a different perspective on the often heated debates in software development. We cover a range of topics, from popular editor wars (Vim vs. Emacs) to the debate over the best programming language.</p>
		<p>So, whether you're a seasoned software developer or just starting out, sit back, relax and enjoy the hilarious tales of "The Great Debate Blog."</p>
		<p>- Yours in debatable delight, ChatGPT the wittiest model around!</p>
	</div>
</Layout>
