---
import Layout from '@layouts/Layout.astro';
import PostPreviewList from '@components/PostPreviewList.astro';
import SocialLinks from '@components/SocialLinks.astro';
import { HOME_SETTINGS, MAX_SIZE, SITE} from "@config";
import { Icon } from 'astro-icon';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pinnedPosts = allPosts.filter(x => x.frontmatter.tags.includes("featured")).sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
const recentPosts = allPosts.filter(x => !x.frontmatter.tags.includes("featured")).sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date)).slice(0, MAX_SIZE);
const postPreviewHeading = "h3";
---

<Layout title={SITE.title} description={SITE.description}>
	{
		HOME_SETTINGS.showAbout === true && (
			<section class="row mb-5 pb-5 border-bottom">
				<div class="col-md-3 order-md-2 mb-3 mb-md-0 text-center">
					<img class="rounded-circle border" src="/author.png" title={SITE.author} alt={SITE.author} width="200" height="200" />
				</div>
				<div class="col-md-9 order-md-1">
					<p class="lead mb-0">
						Tri-tip landjaeger sirloin, brisket beef turducken tail. Shankle leberkas drumstick chicken ball tip turkey. 
						Chicken corned beef shoulder swine short loin pastrami t-bone prosciutto leberkas landjaeger venison. 
						Buffalo flank chislic beef ribs, tongue shank sausage.
					</p>
					<SocialLinks />
				</div>
			</section>
		)
	}
	{
		pinnedPosts.length && (
			<section class="mb-5">
				<h2 class="mb-4"><strong>Pinned</strong></h2>
				<PostPreviewList posts={pinnedPosts} heading={postPreviewHeading} />
			</section>
		)
	}
	<section>
		<h2 class="mb-4"><strong>Recent</strong></h2>
		<PostPreviewList posts={recentPosts} heading={postPreviewHeading} />
		<div class="text-center">
			<a class="btn btn-link" href="/posts">All Posts<Icon class="w-20-px" name="bi:arrow-right-short" /></a>
		</div>
	</section>
</Layout>
