---
import { getCollection, getEntryBySlug } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import PostPreviewList from '@components/PostPreviewList.astro';
import SocialLinks from '@components/SocialLinks.astro';
import { HOME_SETTINGS, MAX_SIZE, SITE} from '@config';
import { Icon } from 'astro-icon';
import getSortedPosts from '@scripts/get-sorted-posts';

const allPosts = await getCollection('blog');
const sortedPosts = getSortedPosts(allPosts);
const featuredPosts = sortedPosts.filter(({ data }) => data.tags.includes('featured'));
const recentPosts = sortedPosts.filter(({ data }) => !data.tags.includes('featured')).slice(0, MAX_SIZE);
const postPreviewHeading = 'h3';
---

<Layout title={SITE.title} description={SITE.description}>
	{
		HOME_SETTINGS.showAbout && (
			<section class="row mb-5 pb-5 border-bottom">
				<div class="col-md-3 order-md-2 mb-3 mb-md-0 text-center">
					<img class="rounded-circle border" src="images/author.png" title={SITE.author} alt={SITE.author} width="200" height="200" />
				</div>
				<div class="col-md-9 order-md-1">
					<p class="lead mb-0">
						Hey, I'm Steph. I wrote this little project to showcase Astro 2.0 Content Collections and Bootstrap Pretty. 
						Enjoy the hilarious tales told by ChapGPT on various debatable topics in software development. Also, check out the source code and feel 
						free to add another story or improve the template!
					</p>
					<SocialLinks />
				</div>
			</section>
		)
	}
	{
		featuredPosts.length > 0 && (
			<section class="mb-5">
				<h2 class="mb-4"><strong>Pinned</strong></h2>
				<PostPreviewList posts={featuredPosts} heading={postPreviewHeading} />
			</section>
		)
	}
	<section>
		<h2 class="mb-4"><strong>Recent</strong></h2>
		<PostPreviewList posts={recentPosts} heading={postPreviewHeading} />
		<div class="text-center">
			<a class="btn btn-link" href="/posts">All Posts<Icon class="w-20-px" name="bi:arrow-right-short" /></a>
		</div>
	</section>
</Layout>
